apiVersion: v1
kind: Service
metadata:
  name: ticketboard-backend
  namespace: ticketboard
spec:
  selector:
    app: ticketboard-backend
  ports:
  - name: http
    protocol: TCP
    port: 3000
    targetPort: 3000
  type: LoadBalancer

